<!DOCTYPE html>
<html lang="en">
   <head>
       <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <title>My Profile</title>
       <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
       <link href="/stylesheets/style.css" rel="stylesheet">
       <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
       <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
       <!--[if lt IE 9]>
           <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
           <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
       <![endif]-->
   </head>
<body>
    <video id="my-video" class="video" loop="loop" muted="" width="300" height="150">
        <source src="../vid/walking.mp4" type="video/mp4" />
    </video>

    <nav class="navbar navbar-default">

        <div id="sideNav" class="sidenav">
                <!-- Brand and toggle get grouped for better mobile display -->
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>       
            <a href="/">Home</a>
            <a href="../profile">Profile Settings</a>
            <a id='logout' href="">Logout</a>
        </div>

        <span onclick="openNav()" class='nav-heart glyphicon glyphicon-cutlery'></span>
    </nav>

    <div id="main">

      <!--map container-->

      <div class="container-fluid">

          <div class="row">
              <div class="col-md-8">
                  <div class='container-fluid'>
                    <div class='row'>
                      <div class='col-md-12'>
                          <div class="panel panel-warning mapPanel">
                              <div class="panel-body">
                                  <!--the map div-->
                                  <div id='map'></div>
                              </div>
                          </div>
                      </div>
                      
                    </div>  
                  </div>
              </div>
      <!-- </div> -->

          <!-- <div class='row'>
          <div class='container-fluid'> -->

              <div class='col-md-4'>
                  <div class="panel panel-warning adminPanel">
                      <div class="panel-heading">
                          Share your location with customers:
                      </div>
                  <div class="panel-body">        
                      <h1>Admin</h1>

                      <form action="/postloc" method='post'>
                          Truck Name:<br>
                          <input type="text" name="truckName"><br><br>
                          Message:<br>
                          <input type="text" name="message"><br><br>
                          Lat:<br>
                          <input type="text" id='latPost' name="lat" value="38"><br><br>
                          Long:<br>
                          <input type="text" id='longPost' name="long" value="-97"><br><br>
                          <input type="checkbox" id="statusCheck" name="status" checked>
                          <label for="statusCheck">Active: </label>
                          <input type="submit" value="Submit"> 
                      </form>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!--google maps api call-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG8SjBT1q6dpCND-aKpAw-5jJBa9PpvZw&callback=initMap"
    async defer></script>


    <!--javascript for the suer frontend page-->
    
    <script src='../scripts/adminfrontend.js'></script>


</body>

</html>