body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('../images/bg.jpg');
  
}

a {
  color: #00B7FF;
}

.navbar-default {
  background: #aec6d0;
  background-image: url('../images/nomfinder.png');

  /*viewport changes*/

  height: 12vh;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: .8;
  border-style: none;
}

.nav-heart {
  color:black;
  font-size: 5.0vh;
  margin-top: 22px;
  margin-right: 32px;
   -webkit-text-fill-color: #f4a11b; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   position: absolute;
   right: 0;
}

#map {
  height: 57vh;
  border: 10px black;
}

.mapPanel {
  height: 60vh;
}

.video {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}

#addBtn{
  background: #be7467;
  color: white;
  width: 40%;
  margin-left: 9%;
}

#removeBtn {
  color: white;
  background: #be7467;
  margin-left: 15px;
  width: 40%;
}




/*slider stuff*/

#slider{
  height: 8vh;
  border-radius: 20px;
  margin-bottom: 8px;
  width: 226px;
}

.sliderDivOn {
  background: #fadadd;
}

.sliderDivOff {
  background: #b1fb9a;
}

.sliderHeart {
    z-index: 999999999;
    font-size: 8vh;
}

.sliderHeart.off {
  color: green;
  position: relative;
  /*left: 6px;
  top: 9px;*/
}

.sliderHeart.on {
  color: red;
  position: relative;
  /*left: 32px;
  top: 9px;*/
}

/*Favorites Panel*/

#favList{
  list-style: none;
}

/*

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
/*.switch input {display:none;}*/

/* The slider */
/*.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* Rounded sliders */
/*.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;*/
